administrator/backups/*
!adminisitrator/backups/index.html
administrator/cache/*
!adminisitrator/cache/index.html
administrator/tmp/*
!adminisitrator/tmp/index.html
cache/*
!cache/index.html
components/libraries/cmslib/cache/*
!components/libraries/cmslib/cache/index.html
configuration.php
dmdocuments/*
!dmdocuments/index.html
images/banners/*
!images/banners/index.html
images/stories/*
!images/stories/index.html
logs/*
!logs/index.html
media/*
!media/index.html
!media/system/*
plugins/tmp/*
!plugins/tmp/index.html
tmp/*
!tmp/index.html
xmlrpc/cache/*
!xmlrpc/cache/index.html